#overview-container {
  overflow: inherit;
  height: 100%;
  background: var(--pf-t--global--background--color--secondary--default);
}

.overview-flex-item {
  margin: 0 !important;
  height: 100%;
  min-width: 50%;
  flex: 1;
  align-self: flex-start;
  overflow: hidden;
}

.overview-flex-item.center {
  align-self: flex-start;
}

.overview-flex-item.full {
  flex: auto;
  width: 100%;
}

.emptygraph {
  display: block;
  height: 100%;
  align-self: center;
}

#top_avg_donut {
  position: relative;
}