#table-container>.pf-v5-c-table tbody>tr>* {
  vertical-align: top;
}

.pf-v5-theme-dark #table-container {
  --pf-t--global--background--color--primary--default: #292929;
  --pf-t--global--background--color--secondary--default: #151515;
  --pf-t--global--text--color--regular: #e0e0e0;
  --pf-t--global--text--color--subtle: #c0c0c0;
  color: #e0e0e0;
}
