th.netobserv-header {
  cursor: pointer;
}

th.netobserv-header.column:hover:not(.dragged)::after {
  position: absolute;
  top: 0;
  right: 0;
  content: ' ';
  cursor: col-resize;
  height: 100%;
  width: 15px;
}

th.netobserv-header.dragged {
  opacity: 0.25;
  background: var(--pf-t--global--background--color--primary--default);
}

th.netobserv-header.resizing {
  border-bottom: solid #0066CC;
}

th.netobserv-header.dropzone:not(.dragged) {
  box-shadow: inset 5px 0px 0px 0px #0066CC;
}
