:not(.newflow-appear).stripped:nth-child(even) {
  background-color: var(--pf-t--global--background--color--secondary--default);
}

.newflow-appear {
  background-color: #73bcf755;
}

.newflow-appear-done {
  background-color: transparent;
  transition: background-color 5s;
}
