/* align right popup buttons*/

.footer {
    margin-left: auto;
}


/* vertical align data list items */

.netobserv-data-list-control {
    align-items: center;
    align-self: center;
}

label {
    margin-top: auto;
    margin-bottom: auto;
    padding: inherit;
}

.popup-header-margin {
    margin-top: 1rem;
}

.flex-center {
    align-self: center;
}

.flex-gap {
    gap: 0.5rem;
}