#topology-container {
  background: var(--pf-t--global--background--color--secondary--default);
}

#topology-container-div {
  display: grid;
  grid-template-areas: "inner-div";
}

#topology-scope-slider-div {
  height: fit-content;
  width: fit-content;
  grid-area: inner-div;
  margin: 1rem;
  z-index: 2;
  align-content: center;
  align-self: center;
}

#topology-view-div {
  height: 100%;
  width: 100%;
  grid-area: inner-div;
}